/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/php_errors.log
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
